* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro'), url('TrajanPro-Regular.woff') format('woff');
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

.hamburguer div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

nav {
    background-color: #fbe2b1;
    padding: 1rem;
    border-bottom: 5px solid black;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    padding: 0.25rem;

    justify-content: space-between;

}

nav ul {
    margin: 0;
    padding: 0;
    margin-left: 2rem;
}


nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: black;
    padding: 0.5rem;
    font-size: 75%;

}

header {
    background: #c6a86c;
}

#ma {
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    background: black;
}

#ma img {
    vertical-align: middle;
}


#hero {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
}

/* form {
    background-color: black;
    color: white;
    max-width: 20rem;
    text-align: center;
    margin: 2rem;
    padding-bottom: 1px;
}

form p {
    margin: 2rem;
}

form div {
    margin: 2rem;
} */

.input {
    background: #fbe2b1;
    border-radius: 4px;
    padding: 0.75rem;
    font-size: 1.25rem;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    resize: none;
}
.enviar {
    margin-top: 20px;
}

footer {
    background-color: #dab97a;
    color: black;
    padding: 2rem;
}

img {
    max-width: 100%;
}

.slider-bg {
    background-position: center;
    background-size: cover;
}

.slider-bg .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    padding: 4rem;
    min-height: 90vh;
}

.desc p {
    margin: 0;
}

.desc {
    background: black;
    padding: 8rem;
    color: white;
}

.overlay>div {
    color: white;
    font-size: 200%;
}

.overlay>div>div {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 2rem;
}

.overlay {

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.title {

    color: #c6a86c;
    border-bottom: 2px solid #c6a86c;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    display: inline-block;
    font-size: 180%;
}

h1,
h2 {
    font-family: 'Trajan Pro', 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

h2 {
    font-size: 100%;
}


legend {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    margin: 1rem;
}

#slider2 .slick-prev:before,
#slider2 .slick-next:before {
    color: black;
}

p {
    margin: 0;
}

footer {
    font-size: 10px;
}

.hamburguer {
    display: none;
}

.menu-x {
    display: none;
}

.contato {
    background: #000;
    padding-bottom: 30px;
}

.contato p {
    color: white;
    text-align: center;
    margin: 2rem 0;
}

.contato .box {
    max-width: 960px;
    width: 100%;
    margin: auto;
}
.contato .box form {
    padding: 0 20px;
}

.contato .calendario {
    background-color: #dab97a;
    padding: 1rem 2rem;
    margin: 0;
    color: black;
}

.contato .calendario div {
    max-width: 200px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
        position: fixed;
        background: white;
        top: 0;
        bottom: 0;
        z-index: 99899999;
        padding: 32px;
        right: 0;
        box-shadow: 3px 6px 18px 0px black;
    }

    .menu li {
        display: block;
    }

    .menu-x {
        display: block;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .hamburguer {
        display: block;
        cursor: pointer;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .pad {
        padding: 1rem !important;
    }

    h2 {
        font-size: 120% !important;
    }

    .slider-bg .overlay {
        width: 100%;
        min-height: 40vh;
    }

    .center-m {
        text-align: center !important;
    }

    .container {
        padding: 0.75rem;
    }

    #muda {
        font-size: 24px !important;
    }

    .font {
        font-size: 100% !important;
    }

    .font span {
        padding: 0 !important;
    }
}